@charset "utf-8";
/*common css*/

.tac{text-align: center !important;}

/*margin-top*/
.mt05{margin-top:  5px  !important;}
.mt10{margin-top:  10px !important;}
.mt15{margin-top:  15px !important;}
.mt20{margin-top:  20px !important;}
.mt25{margin-top:  25px !important;}
.mt30{margin-top:  30px !important;}

/*margin-bottom*/
.mb05{margin-bottom: 5px  !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}

/*padding-top*/
.pt05{padding-top: 5px  !important;}
.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}
.pt25{padding-top: 25px !important;}
.pt30{padding-top: 30px !important;}

/*padding-bottom*/
.pb05{padding-bottom: 5px  !important;}
.pb10{padding-bottom: 10px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}

.h2line:after{
content: ""; display: block; width: 200px; height: 1px; 
background: #000; margin: 10px auto; /*라인 가운데 정렬 위아래 5px*/
}